doctype html
html
    head
        meta(charset="UTF-8")
        title
        link(rel='stylesheet', href='/stylesheets/main.css')
        link(rel='stylesheet', href='/stylesheets/selectize.bootstrap3.css')
        script.
            var container = (function(socketServer){
                return {
                    socketServer : socketServer,
                };
            })("#{socketServer}");
    body
        div(class="container-fluid")
            div(class="row")
                div(class="col-md-6") 
                    div(class="row")
                        div(id="word-container", class="col-md-12") 
                    div(class="row")
                        div(id="image-container", class="col-md-12") 
                div(id="word-selector-container", class="col-md-6") 

        script(src="/js/" + "#{source}")
