doctype html
html
    head
        meta(charset="UTF-8")
        title
        script(src="https://www.google.com/jsapi")
    body
        div(id="ctt")!= content    
        script(src="/js/bundle.js")
