doctype html
html
    head
        meta(charset="UTF-8")
        title
        link(rel='stylesheet', href='/stylesheets/main.css')
        script(src="https://www.google.com/jsapi")
        script.
            var container = (function(word, socketServer, isLocalResource){
                return {
                    letters : word.split(''),
                    socketServer : socketServer,
                    isLocalResource : isLocalResource === 'true'
                };
            })("#{word}", "#{socketServer}", "#{isLocalResource}");
    body
        div(id="container") != content    
        script(src="/js/" + "#{source}")
