doctype html
html
    head
        meta(charset="UTF-8")
        title
        link(rel='stylesheet', href='/stylesheets/main.css')
        script(src="https://www.google.com/jsapi")
        script.
            var container = (function(socketServer){
                return {
                    socketServer : socketServer,
                };
            })("#{socketServer}");
    body
        div(id="container") != content    
        script(src="/js/" + "#{source}")
