doctype html
html
    head
        meta(charset="UTF-8")
        title
        script(src="https://www.google.com/jsapi")
        script.
            var word = "#{word}";
            var isLocalResource = "#{isLocalResource}" === 'true';
            console.log(isLocalResource);
            var letters = word.split('').map(function(item, index){
                return {
                    id : index,
                    character : item
                };
            });
    body
        div(id="container")!= content    
        script(src="/js/bundle.js")
